<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title><%= restaurant.name %></title>
  </head>
  <body>
    <header class="header">
      <div class="header__navbar container-lg">
        <h2>Advisor</h2>
        <ul class="list-style-none">
          <li>
            <a class="text-decoration-none text-black" href="/new-restaurant"
              >New Restaurant</a
            >
          </li>
        </ul>
      </div>
    </header>
    <main class="app container-lg">
      <section class="section-md">
        <div class="heading mb-3">
          <a class="button" href="/">Go Back</a>
          <h1 class="heading-xl"><%= restaurant.name %></h1>
        </div>
        <p>Address: <%= restaurant.address %></p>
        <p>Website: <%= restaurant.website %></p>
        <br />
        <div class="controls">
          <a href="/restaurants/<%= restaurant.id %>/edit">Edit</a>
          <form
            action="/api/v1/restaurants/<%= restaurant.id %>?_method=DELETE"
            method="POST"
          >
            <button type="submit">Delete</button>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
